header {
    font-family: 'shrikhand';
    box-shadow: 0 6px 6px rgb(202, 198, 198);
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    & h1{
        font-family: 'Shrikhand';
    }

}